gumroad-products/line-bot-n8n-templates/workflows/01-faq-auto-reply.json
{
  "name": "LINE Bot FAQ 自動回覆",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-node",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const events = $input.first().json.events || [];\nconst event = events[0];\nif (!event || event.type !== 'message' || event.message.type !== 'text') {\n  return [{ json: { skip: true } }];\n}\nreturn [{ json: { replyToken: event.replyToken, text: event.message.text.trim() } }];"
      },
      "id": "parse-node",
      "name": "解析訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nconst faq = {\n  '營業時間': '我們的營業時間為週一至週五 09:00–18:00，週六 10:00–15:00。',\n  '地址': '我們位於台北市信義區，詳細地址請來電確認。',\n  '價格': '方案從 NT$999/月起，詳情請至官網查看或直接詢問客服。',\n  '聯絡': '請撥打 02-XXXX-XXXX 或 Email: info@example.com',\n  '預約': '請點選選單中的「線上預約」或回覆「預約」取得預約連結。'\n};\nlet reply = null;\nfor (const [key, val] of Object.entries(faq)) {\n  if (text.includes(key)) { reply = val; break; }\n}\nif (!reply) reply = '感謝您的訊息！我們的客服將在工作時間內盡快回覆您。如需立即協助，請撥打客服專線。';\nreturn [{ json: { ...$input.first().json, reply } }];"
      },
      "id": "faq-node",
      "name": "FAQ 比對",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.LINE_CHANNEL_ACCESS_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "replyToken", "value": "={{$json.replyToken}}" },
            { "name": "messages", "value": "=[{\"type\":\"text\",\"text\":\"{{$json.reply}}\"}]" }
          ]
        }
      },
      "id": "reply-node",
      "name": "LINE 回覆",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK" },
      "id": "response-node",
      "name": "回應 Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "LINE Webhook": { "main": [[{ "node": "解析訊息", "type": "main", "index": 0 }]] },
    "解析訊息": { "main": [[{ "node": "FAQ 比對", "type": "main", "index": 0 }]] },
    "FAQ 比對": { "main": [[{ "node": "LINE 回覆", "type": "main", "index": 0 }]] },
    "LINE 回覆": { "main": [[{ "node": "回應 Webhook", "type": "main", "index": 0 }]] }
  }
}
